ul {
    list-style: none;

}
/* styles for Li */
li {
    border-bottom: 1px solid lightgray;
    text-align: left;
    padding-left: 10px;
}
/* styles for card titles  */
.card-title {
    font-size: 20px;
}
/* styles for img size  */
img {
    width: 100px;
    height: 100px;
}
/* styles for five day forecast colors */
.fiveDayColor {
    padding: 20px;
    background-color: #2f3439;
    color: white;
    float: right;
    margin: 10px;
    border: 5px solid #6c757d;

}