ul {
    list-style: none;

}

li {
    border-bottom: 1px solid lightgray;
    text-align: left;
    padding-left: 10px;
}

.card-title {
    font-size: 20px;
}

img {
    width: 100px;
    height: 100px;
}

.fiveDayColor {
    padding: 20px;
    background-color: #2f3439;
    color: white;
    float: right;
    margin: 10px;
    border: 5px solid #6c757d;

}